<footer class="main_footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="footer_headding"><h5>Help</h5></div>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><a href="javascript:void(0);">Contact Us</a></li>
                <li><a href="javascript:void(0);">bet365 FAQ</a></li>
                <li><a href="javascript:void(0);">Terms and Conditions</a></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><a href="javascript:void(0);">Technical Issues</a></li>
                <li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li><a href="javascript:void(0);">Rules</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="footer_headding"><h5>Promotions</h5></div>
          <ul>
            <li><a href="javascript:void(0);">Affiliate Account</a></li>
            <li><a href="javascript:void(0);">Open Account Offer</a></li>
            <li><a href="javascript:void(0);">Current Offers</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
          <div class="footer_headding"><h5>Settings</h5></div>
          <ul>
            <li><a href="javascript:void(0);">Language</a></li>
            <li class="mt-3"><img class="footer_logo" src="../../../assets/images/footer_logo.png" alt="footer-logo"></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="footer_cric"><h4>CRICADDA</h4></div>
          <p>Gambling can be addictive, please play responsibly. For information on support measures, please visit our Responsible Gambling Help.</p>
          <p>Hillside (Sports) ENC, registration number P1811, Office 1/2373, Level G, Quantum House, 75 Abate Rigord Street, Ta’ Xbiex XBX 1120, Malta. Hillside (Sports) ENC is licensed and regulated by the Malta Gaming Authority (MGA), Licence number</p>
          <p>© 2001-2023 <a class="copyright_link" href="javascript:void(0)">CRIC ADDA.</a> All rights reserved.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="footer_btn">
            <a href="javascript:void(0)">Careers</a>
            <a href="javascript:void(0)">Partners</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="footer_btn">
            <a href="javascript:void(0)">News</a>
            <a href="javascript:void(0)">Help</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  