<div class="container-fluid">
  <app-top-header></app-top-header>
  <app-main-header></app-main-header>

  <div class="boxed-layout-wrapper">
    <div class="left_sidebar">
      <app-sidebar></app-sidebar>

    </div>
    <div class="pane_middle">
      <router-outlet></router-outlet>

    </div>
    <div class="right_pane">
      <app-right-pane></app-right-pane>
    </div>

  </div>
  <!-- <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
    </div>
    <div class="col-2">
    </div>
  </div> -->

</div>

