<div class="banner">
    <div class="main_banner">
      <div class="row">
        <div class="col-lg-12">
          <div class="sports_banner">
            <img src="../../../assets/images/main-abnner.png" alt="main-banner">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xxl-6 col-lg-6">
            <div class="sports_banner">
                <div class="banner_text_img"><img src="../../../assets/images/sports.png" loading="lazy" alt="sports"></div>
                <div class="banner_text">SPORTS <div class="banner_button"><a
                            href="javascript:void(0);">PLAY NOW</a></div>
                </div>

            </div>
        </div>
        <div class="col-xxl-6 col-lg-6">
            <div class="sports_banner">
                <div class="banner_text_img"><img src="../../../assets/images/exchange.png" loading="lazy" alt="exchange"></div>
                <div class="banner_text">EXCHANGE <div class="banner_button"><a
                            href="javascript:void(0);">PLAY NOW</a></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6">
            <div class="sports_banner">
                <div class="banner_text_img"><img src="../../../assets/images/sportsbook.png" loading="lazy" alt="exchange"></div>
                <div class="banner_text">SPORTS BOOK <div class="banner_button"><a
                            href="javascript:void(0);">PLAY NOW</a></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="sports_banner">
                <div class="banner_text_img"><img src="../../../assets/images/live-casino.png" loading="lazy" alt="exchange"></div>
                <div class="banner_text">LIVE CASINO<div class="banner_button"><a
                            href="javascript:void(0);">PLAY NOW</a></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="sports_banner">
                <div class="banner_text_img"><img src="../../../assets/images/supernowa.png" loading="lazy" alt="exchange"></div>
                <div class="banner_text">SUPERNOWA <div class="banner_button"><a
                            href="javascript:void(0);">PLAY NOW</a></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="sports_banner">
                <div class="banner_text_img"><img src="../../../assets/images/powergames.png" loading="lazy" alt="exchange"></div>
                <div class="banner_text">POWER GAMES <div class="banner_button"><a
                            href="javascript:void(0);">PLAY NOW</a></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="sports_banner">
                <div class="banner_text_img"><img src="../../../assets/images/xprograming.png" loading="lazy" alt="exchange"></div>
                <div class="banner_text">Xprogramming <div class="banner_button"><a
                            href="javascript:void(0);">PLAY NOW</a></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="sports_banner">
                <div class="banner_text_img"><img src="../../../assets/images/evolution.png" loading="lazy" alt="exchange"></div>
                <div class="banner_text">Evolution <div class="banner_button"><a
                            href="javascript:void(0);">PLAY NOW</a></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="sports_banner">
                <div class="banner_text_img"><img src="../../../assets/images/ezugi.png" loading="lazy" alt="exchange"></div>
                <div class="banner_text">Ezugi <div class="banner_button"><a
                            href="javascript:void(0);">PLAY NOW</a></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="sports_banner">
                <div class="banner_text_img"><img src="../../../assets/images/qtech.png" loading="lazy" alt="exchange"></div>
                <div class="banner_text">Qtech <div class="banner_button"><a
                            href="javascript:void(0);">PLAY NOW</a></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="sports_banner">
                <div class="banner_text_img"><img src="../../../assets/images/ae-sexy-casino.png" loading="lazy" alt="exchange"></div>
                <div class="banner_text">AE Sexy Casino <div class="banner_button"><a
                            href="javascript:void(0);">PLAY NOW</a></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="sports_banner">
                <div class="banner_text_img"><img src="../../../assets/images/binary.png" loading="lazy" alt="exchange"></div>
                <div class="banner_text">Binary <div class="banner_button"><a
                            href="javascript:void(0);">PLAY NOW</a></div>
                </div>
            </div>
        </div>


    </div>
    <app-footer></app-footer>

</div>

