<div class="Main_warapper">
    <div class="boxed-layout-wrapper">
        <div class="left_sidebar">
            <div class="overlay" style="display: none"></div>
            <div class="sidebar">
                <ul>
                    <li>
                        <a href="javascript:void(0);"><svg class="icon icon-politics">
                                <use xlink:href="#snowboarder"></use>
                            </svg> Winter-Sport
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><svg class="icon icon-tennis">
                                <use xlink:href="#greyhound"></use>
                            </svg> Greyhound</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><svg class="icon icon-politics">
                                <use xlink:href="#jumping-horse-with-jockey-in-front-of-a-horseshoe"></use>
                            </svg> Horse Racing
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><svg class="icon icon-cricket">
                                <use xlink:href="#virtual-reality"></use>
                            </svg> Virtual</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><svg class="icon icon-basketball_red">
                                <use xlink:href="#exchange"></use>
                            </svg> Exchange</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><svg class="icon icon-tennis">
                                <use xlink:href="#casino-roulette"></use>
                            </svg> Live Casino
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><svg class="icon icon-table-tennis">
                                <use xlink:href="#slot-machine"></use>
                            </svg> SLOT</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><svg class="icon icon-basketball_red">
                                <use xlink:href="#sword"></use>
                            </svg> Fantasy Games</a>
                    </li>


                    <li><a href="javascript:void(0);"><svg class="icon icon-politics">
                                <use xlink:href="#speech"></use>
                            </svg> Politics</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-cricket">
                                <use xlink:href="#ball"></use>
                            </svg> Cricket</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-football">
                                <use xlink:href="#football"></use>
                            </svg> Football</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-tennis">
                                <use xlink:href="#tennis"></use>
                            </svg> Tennis</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-table-tennis">
                                <use xlink:href="#table-tennis"></use>
                            </svg> Table Tennis</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-basketball_red">
                                <use xlink:href="#basketball"></use>
                            </svg> Basketball</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-volleyball_yellow">
                                <use xlink:href="#volleyball"></use>
                            </svg> Vollyball</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-ice-hockey">
                                <use xlink:href="#ice-hockey"></use>
                            </svg> Icehockey</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-e-sports">
                                <use xlink:href="#e-sports"></use>
                            </svg> E Games</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-field">
                                <use xlink:href="#field"></use>
                            </svg> Fustal</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-handball">
                                <use xlink:href="#handball"></use>
                            </svg> Handball</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-kabaddi">
                                <use xlink:href="#kabaddi"></use>
                            </svg> Kabaddi</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-golf">
                                <use xlink:href="#golf"></use>
                            </svg> Golf</a></li>

                    <li><a href="javascript:void(0);"><svg class="icon icon-rugby-ball_pink">
                                <use xlink:href="#rugby-ball"></use>
                            </svg> Rugby Leaque</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-boxing">
                                <use xlink:href="#boxing"></use>
                            </svg> Boxing</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-volleyball">
                                <use xlink:href="#volleyball"></use>
                            </svg> Beach Volleyball</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-karate">
                                <use xlink:href="#karate"></use>
                            </svg> Mixed Martial Arts</a></li>
                    <!-- <li><a href="javascript:void(0);"><svg class="icon icon-motorcycle"><use xlink:href="#motorcycle"></use></svg> MotoGP</a></li> -->
                    <li><a href="javascript:void(0);"><svg class="icon icon-chess">
                                <use xlink:href="#chess"></use>
                            </svg> Chess</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-badminton">
                                <use xlink:href="#badminton"></use>
                            </svg> Badminton</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-bicycle">
                                <use xlink:href="#bicycle"></use>
                            </svg> Cycling</a></li>

                    <li><a href="javascript:void(0);"><svg class="icon icon-motorcycle">
                                <use xlink:href="#motorcycle"></use>
                            </svg> Motorbikes</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-basketball_orange">
                                <use xlink:href="#basketball"></use>
                            </svg> Basketball</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-sumo">
                                <use xlink:href="#sumo"></use>
                            </svg> Sumo</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-virtual-fitness">
                                <use xlink:href="#virtual-fitness"></use>
                            </svg> Virtual Sports</a></li>
                    <li><a href="javascript:void(0);"><svg
                                class="icon icon-motorcycle-of-big-size-black-silhouette">
                                <use xlink:href="#motorcycle-of-big-size-black-silhouette"></use>
                            </svg> Moto Sports</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-baseball">
                                <use xlink:href="#baseball"></use>
                            </svg> Baseball</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-rugby-ball">
                                <use xlink:href="#rugby-ball"></use>
                            </svg> Rugby Union</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-dart-board">
                                <use xlink:href="#dart-board"></use>
                            </svg> Darts</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-football_red">
                                <use xlink:href="#football"></use>
                            </svg> Americal Football</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-football">
                                <use xlink:href="#football"></use>
                            </svg> Soccer</a></li>
                    <li><a href="javascript:void(0);"><svg class="icon icon-e-sports">
                                <use xlink:href="#e-sports"></use>
                            </svg> Esports</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>